.adds {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 80%;
  height: 100%;
  @include header;
  &_chooser {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    &_item_inner {
      display: flex;
      width: 100%;
      justify-content: space-around;

      align-items: center;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      border: 1px solid $Light-gray;

      &--checked {
        background-color: $Magnolia;
        border-color: $Marine-blue;
      }
      [type="radio"] {
        display: none;
      }

      &:hover {
        border-color: $Marine-blue;
      }
      &_img {
        @include flex-common;

        width: 1rem;
        height: 1rem;
        border: 1px solid $Cool-gray;
        &--checked {
          @include flex-common;

          width: 1rem;
          height: 1rem;
          border: 1px solid $Cool-gray;
          background-color: $Purplish-blue;
          color: $White;
        }
      }
      &_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_h1 {
          font-size: 20px;
          color: $Marine-blue;
          font-weight: 500;
        }
        &_p {
          font-size: 1em;
          color: $Cool-gray;
        }
      }
    }
  }
}
.adds_chooser_item_inner_price {
  @include flex-common;

  color: $Purplish-blue;
}

@media only screen and (max-width: 1024px) {
  .adds {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .adds {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .adds_chooser_item_inner_price {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  .adds {
    gap: 1rem;
  }
  .adds_chooser_item_inner_price {
    font-size: 0.7em;
  }
  .adds_chooser_item_inner {
    gap: 0.5rem;
    &_img {
      width: 0.8rem;
      height: 0.8rem;
    }
    &_container {
      &_h1 {
        font-size: 16px;
      }
      &_p {
        font-size: 0.9em;
      }
    }
  }
}
