@mixin flex-common {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header {
  &_header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_h1 {
      font-size: 2em;
      font-weight: bold;
      color: $Marine-blue;
    }
    &_p {
      font-size: 1em;
      color: $Cool-gray;
    }
  }
}
